{% extends "blog/base.html" %} {% load static %} {% block content %}

<div class="col-sm-10">
    <h3 class="text-dark my-5">About Page</h3>
    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
            <p class="lead">A blog (a shortened version of “weblog”) is an online journal or informational website displaying information in the reverse chronological order, with the latest posts appearing first, at the top. It is a platform where a writer or a group
                of writers share their views on an individual subject. There are many reasons to start a blog for personal use and only a handful of strong ones for business blogging. Blogging for business, projects, or anything else that might bring
                you money has a very straightforward purpose – to rank your website higher in Google SERPs, a.k.a. increase your visibility.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/media/blog/thebirthofeuropa.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nazmul Hossain Ananto</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://www.facebook.com/nazmul.ananto07" class="btn btn-primary">Profile</a>
        </div>
    </div>
    <br>
</div>
{% endblock content %}